AddDefaultCharset utf-8

RewriteEngine on

php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value display_errors 1


DirectoryIndex main.php?controller=index

ErrorDocument 404 /main.php?controller=error

RewriteRule ^index.html$ main.php

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ main.php?route=$1 [L,QSA]


